.items {
  border: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputStyle {
  width: 30%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:20px;
}

.miniContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.addStyle {
  background-color: green;
  width: 90%;
  text-align: center;
}
.editStyle{ 
  background-color: steelblue;

}
.products {
  width: 70%;
  height: 100%;

}
