html {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
  font-size: 30px;
}

nav {
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1A1A1D;
  gap: 10px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cart {
  width: auto;
  height: 100%;
}

.imgContainer {

  height: 80px;
  position: relative;
}

.counter {
  position: absolute;
  top: 75%;
  left: 40%;
}
